@import "../sass/variables.scss";

.header {
    &__wrapper {
        display: flex;

        position: relative;
        align-items: center;
        height: 176px;
        max-width: 100%;
        background-color: $dark-blue;
    }
    &__logo-link {
        display: none;
    }

    &__logo {
        background: url(../img/Text-logo.png) no-repeat center, url(../img/border_orange.svg) no-repeat center;

        width: 370px;
        height: 80px;
        margin: 0px 28px 0px 47px;
    }

    &__text {
        font-family: PT Sans Caption;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        margin: 0px 0px 0px 28px;
        width: 660px;
        color: $white;
    }
    &__search-mobil {
        display: none;
    }
    &__output {
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 700;

        align-self: flex-start;
        margin-top: 10px;
        margin-left: 10px;

        border: none;
        background-color: $dark-blue;
        color: $white;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        box-shadow: 0px 0px 9px 0px;
        height: 48px;

        &__menu {
            margin: 0px 0px 0px 47px;
            cursor: pointer;
        }

        &__menu-item {
            width: 14px;
            height: 2px;
            background-color: $black;
            margin: 3px 0;
        }

        &__list {
            display: flex;
            justify-content: space-between;

            margin-left: 22px;
        }

        &__item {
            text-align: center;
            margin: 0px 6px 0px;

            :hover {
                background-color: #faaf3f;
                color: #494949;
            }
        }

        &__item a {
            display: block;

            font-family: "Brutal Type";
            font-weight: 400;
            font-size: 16px;

            text-decoration: none;
            color: $black;
            width: 91px;
            height: 24px;
        }

        &__search {
            background: url(../img/magnifier.svg) no-repeat 22px;
            width: 48px;
            height: 48px;
            margin-left: auto;
            border: none;
        }
        &__search-tablet {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        max-width: 1024px;
        margin: 0 auto;

        &__logo {
            margin: 0px 12px 0px 30px;
        }

        &__text {
            max-width: 539px;
            margin: 0px 0px 0px 12px;
        }
        &__output {
            margin: 10px 0px 0px 5px;
        }
        .nav {
            &__menu {
                margin-left: 40px;
            }

            &__menu-item {
                width: 12px;
            }
            &__list {
                margin-left: 15px;
            }

            &__search {
                background-position: 12px;
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        max-width: 768px;
        margin: 0 auto;
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__menu-tablet {
            align-self: flex-start;
            background: url(../img/header_menu_tablet.svg) no-repeat center;
            width: 19px;
            height: 16px;
            margin: 16px 0px 0px 16px;
        }

        &__logo-link {
            display: none;
        }

        &__text {
            display: none;
        }

        &__output {
            margin: 10px 10px 0px 0px;
        }

        &__nav {
        }

        .nav {
            &__menu {
                display: none;
            }

            &__menu-item {
            }

            &__list {
                width: 635px;
                margin: 0;
            }

            &__item {
            }
            &__search {
                background: none;
                width: 80px;
            }
            &__search-tablet {
                font-family: "Brutal Type";
                font-weight: 400;
                font-size: 16px;

                display: block;
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 320px;
        &__wrapper {
            max-height: 48px;
        }

        &__logo-link {
            display: block;
            margin-right: auto;
            margin-left: 20px;
        }

        &__logo-mobil {
            background: url(../img/mobil_logo.svg) no-repeat center, url(../img/mobil_logo1.svg) no-repeat center;
            width: 35px;
            height: 34px;
        }

        &__logo {
            display: none;
        }

        &__search-mobil {
            display: block;

            background: url(../img/mobil_search.svg) no-repeat center;
            margin-left: auto;
            margin-right: 8px;
            width: 15px;
            height: 15px;
            border: none;
        }
        &__output {
            align-self: normal;

            margin: 0;
            margin-right: 16px;
            padding: 0;
        }

        .nav {
            &__list {
                margin: 0px 10px 0px 10px;
            }
            &__item {
                margin: 0;
            }

            &__item a {
                font-family: "PT Sans Caption";
                font-weight: 400;
                font-size: 14px;

                width: 60px;
            }

            &__search {
                display: none;
            }
        }
    }
}
