.header {
    &__wrapper {
        display: flex;

        align-items: center;
        min-height: 176px;
        max-width: 100%;
        position: relative;
        background-color: #223036;
    }

    &__wrapper-logo {
        position: relative;

        text-align: center;
        margin: 0px 25px 0px 45px;
        // padding: 38px 0px 0px 0px;
        // width: 370px;
        //height: 80px;
    }

    &__wrapper-text {
        font-family: PT Sans Caption;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        margin: 0px 0px 0px 25px;
        width: 660px;
        color: #ffffff;
    }

    &__wrapper-logo {
    }
    &__wrapper-logo2 {
        position: absolute;
        top: -22px;
        left: 12px;
    }

    &__wrapper-button {
        align-self: normal;
        margin-top: 12px;
        margin-right: 19px;
    }

    &__wrapper-output {
        font-family: "PT Sans";
        font-size: 15px;
        font-weight: 700;

        border: none;
        background-color: #223036;
        color: #ffffff;
    }

    &__nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 48px;
    }

    &__nav-burger {
        margin: 0px 0px 0px 47px;
        cursor: pointer;
    }

    &__nav-burger-item {
        width: 17.17px;
        height: 2px;
        background-color: black;
        margin: 3px 0;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;

        width: 467px;
        margin-right: 590px;
    }

    &__nav-item {
        text-align: center;
        margin: 0px 6px 0px;

        :hover {
            background-color: #faaf3f;
            color: #ffffff;
        }
    }

    &__nav-item a {
        display: block;

        font-family: "Brutal Type";
        font-weight: 400;
        font-size: 16px;

        text-decoration: none;
        color: #000000;
        width: 91px;
        height: 24px;
    }

    &__nav-search {
        // margin: 0px 12px 0px 0px;
        background: url(../img/magnifier.svg) no-repeat center;
        width: 48px;
        height: 48px;
    }
}
.first {
}
.second {
}
.third {
}
