.main {
    &__body {
        display: flex;
        flex-wrap: wrap;

        max-width: 85.33%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    &__title {
        font-family: "PT Sans Caption";
        font-weight: 400;
        font-size: 28px;

        box-sizing: border-box;
        padding-top: 40px;
        max-width: 85.33%;
        height: 100px;
        margin: 0 auto;
    }
    &__text {
        font-family: "PT Sans";
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;

        margin: 30px 0px;
    }
    &__text span {
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
    }

    @media (max-width: 1024px) {
        margin: 0px 11px 0px 11px;
        &__body {
            max-width: 1024px;
        }
        &__title {
            max-width: 1024px;
            height: 92px;
            margin-left: 0;
            padding-top: 28px;
            letter-spacing: -1px;
        }
    }
}
