.main {
    display: flex;
    gap: 20px;

    padding: 0px 32px 100px 32px;
    &__title {
        font-family: "PT Sans Caption";
        font-weight: 400;
        font-size: 28px;

        padding: 38px 0px;
    }
    &__articles {
        max-width: 800px;
    }
    &__sidebar {
        width: 251px;
        box-sizing: border-box;
        padding-top: 100px;
        border: 1px solid red;
    }
}
@media (max-width: 1100px) {
    .main {
        padding: 0px 12px;
        &__articles {
            max-width: 730px;
        }
    }
}
