@import "../sass/variables.scss";

.series-left {
    &__wrapper {
        max-width: 74.43%;
    }
    &__wrap-series {
        display: flex;
        justify-content: space-between;

        margin: 30px 0px 30px 0px;
    }
    &__title {
        font-family: "PT Sans Caption";
        font-weight: 400;
        font-size: 28px;
        line-height: 22px;
    }

    &__left-toggle {
        display: flex;
        justify-content: space-between;

        width: 55px;
        &_left {
            background: url(../img/toggle_left.svg) no-repeat center;
            border: none;
        }

        &_right {
            background: url(../img/toggle_right.svg) no-repeat center;
            border: none;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__container {
        display: flex;
        flex-direction: column;

        position: relative;

        box-sizing: border-box;
        max-width: 48.16%;
        height: auto;
        box-shadow: 0px 0px 10px -5px;
        padding: 25px 20px 25px 20px;
    }

    &__title-list {
        font-family: "Brutal Type";
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        margin-bottom: 25px;
    }
    &__list {
        margin: 0px 0px 0px 20px;

        &::after {
            content: "";
            position: absolute;
            top: 85px;
            left: 21px;
            height: 440px;
            border: 1px solid $grey;
            border-radius: 50%;
        }
    }

    &__item {
        font-family: "PT Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        margin-bottom: 35px;

        &::before {
            content: "";
            position: absolute;
            left: 17px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $grey;
        }
    }

    &__link {
        margin: 0 auto;
        width: 197px;
    }
}
@media (max-width: 1024px) {
    .series-left {
        &__wrapper {
            max-width: 73%;
        }
        &__left-toggle {
            display: none;
        }
        &__wrap-series {
            margin: 36px -2px 46px;
        }
        &__container {
            padding: 17px 31px 34px 20px;
        }
        &__item {
            margin-bottom: 17px;
        }
        &__list::after {
            content: "";
            height: 386px;
        }
    }
}
