.slider {
    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        width: 50px;
    }
    &__button {
        width: 17px;
        border: none;
    }
    &__button-prev {
        background: url(../img/toggle_left.svg) no-repeat center;
    }
    &__button-next {
        background: url(../img/toggle_right.svg) no-repeat center;
    }
    &__list {
        overflow: hidden;
    }
}
@media (max-width: 1100px) {
    .slider {
        &__buttons {
            display: none;
        }
    }
}
