$white: #ffffff;
$black: #000000;
$light-black: #333333;
$light-gray: #e5e5e5;
$grey: #828282;
$dark-gray: #516e77;
$blue: #0776d2;
$dark-blue: #223036;
$orange: #faaf3f;
$dark-orange: #f49f21;
$darker-orange: #f7ab32;
