.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 173px;
  max-width: 100%;
  background-color: #223036; }

.header__logo-link {
  display: none; }

.header__logo {
  background: url(../img/Text-logo.png) no-repeat center, url(../img/border_orange.svg) no-repeat center;
  min-width: 370px;
  min-height: 80px;
  margin: 0px 28px 0px 47px; }

.header__text {
  font-family: PT Sans Caption;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0px 0px 0px 28px;
  color: #ffffff; }

.header__login {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 700;
  margin: 8px 14px 0px 10px;
  border: none;
  background-color: #223036;
  color: #ffffff; }

.header .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 48px; }
  .header .nav__menu {
    background: url(../img/nav_menu_desktop.svg) no-repeat center;
    width: 14px;
    height: 12px;
    margin-left: 47px;
    border: none; }
  .header .nav__menu-item {
    background-color: #000000;
    width: 14px;
    height: 2px;
    margin: 3px 0; }
  .header .nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 15px; }
  .header .nav__item {
    text-align: center;
    margin: 0px 6px 0px; }
  .header .nav__item a {
    display: block;
    font-family: "Brutal Type";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border-radius: 2px;
    padding: 5px 20px;
    color: #000000;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .header .nav__item a:hover {
      color: #ffffff;
      background: #faaf3f; }
  .header .nav__search {
    background: url(../img/search.svg) no-repeat 22px;
    width: 48px;
    height: 48px;
    margin-left: auto;
    border: none; }
  .header .nav__search-tablet {
    display: none; }

@media (max-width: 1100px) {
  .header__logo {
    margin: 0px 12px 0px 30px; }
  .header__text {
    margin: 9px 0px 0px 12px; }
  .header__login {
    margin: 11px 9px 0px 5px; }
  .header .nav__menu {
    margin-left: 40px; }
  .header .nav__menu-item {
    width: 12px; }
  .header .nav__list {
    margin: 0;
    padding-top: 3px;
    padding-left: 2px; }
  .header .nav__item a {
    letter-spacing: normal; }
  .header .nav__search {
    margin-right: 10px; } }

@media (max-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0; }
  .header__logo-link {
    display: none; }
  .header__text {
    display: none; }
  .header__login {
    margin: 10px 10px 0px 0px; }
  .header .nav__menu {
    position: absolute;
    top: 16px;
    left: -25px;
    background: url(../img/header_menu_tablet.svg) no-repeat center;
    width: 19px;
    height: 16px;
    cursor: pointer; }
  .header .nav__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-left: 0;
    padding-left: 10px; }
  .header .nav__item a {
    padding: 0; }
  .header .nav__search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: none;
    margin: 0;
    padding: 0; }
  .header .nav__search-tablet {
    display: block;
    font-family: "Brutal Type";
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    padding-right: 13px;
    padding-top: 4px; } }

@media (max-width: 500px) {
  .header__wrapper {
    max-height: 48px; }
  .header__logo-link {
    display: block;
    background: url(../img/mobil_logo.svg) no-repeat center, url(../img/mobil_logo1.svg) no-repeat center;
    width: 35px;
    height: 34px;
    margin-right: auto;
    margin-left: 54px; }
  .header__logo {
    display: none; }
  .header__login {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0;
    margin-right: 16px;
    padding: 0; }
  .header .nav__list {
    margin: 0px 10px 0px 10px;
    padding: 0; }
  .header .nav__item {
    margin: 0; }
  .header .nav__item a {
    font-family: "PT Sans Caption";
    font-weight: 400;
    font-size: 14px; }
  .header .nav__search {
    position: absolute;
    top: 0;
    right: 40px;
    background: url(../img/mobil_search.svg) no-repeat center;
    min-width: 50px;
    padding: 0; }
    .header .nav__search span {
      display: none; } }

@media (max-width: 320px) {
  .header .nav__list {
    margin: 0px 14px 0px 14px; } }

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  src: url(../fonts/PTSans/Regular/PTSansRegular.woff2) format("woff2"), url(../fonts/PTSans/Regular/PTSansRegular.woff) format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  src: url(../fonts/PTSans/Bold/PTSansBold.woff2) format("woff2"), url(../fonts/PTSans/Bold/PTSansBold.woff) format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "PT Sans Caption";
  src: url(../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff2) format("woff2"), url(../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff) format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "Brutal";
  src: url(../fonts/Brutal/Medium/BrutalMedium.woff2) format("woff2"), url(../fonts/Brutal/Medium/BrutalMedium.woff) format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Brutal";
  src: url(../fonts/Brutal/Bold/BrutalBold.woff2) format("woff2"), url(../fonts/Brutal/Bold/BrutalBold.woff) format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "Brutal";
  src: url(../fonts/Brutal/Regular/BrutalRegular.woff2) format("woff2"), url(../fonts/Brutal/Regular/BrutalRegular.woff) format("woff"); }

html {
  background: #e5e5e5; }

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  background: #ffffff;
  color: #000000;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #000000; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 calc(50% - 530px); }
  .main__title {
    font-family: "PT Sans Caption";
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -0.02em;
    padding: 40px 0px; }
  .main__articles {
    max-width: 790px; }
  .main__aside {
    width: 251px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 100px; }

@media (max-width: 1100px) {
  .main {
    padding: 0 calc(50% - 500px); }
    .main__title {
      padding: 35px 0px 42px 14px; }
    .main__articles {
      max-width: 730px; } }

@media (max-width: 1020px) {
  .main {
    padding: 0px; }
    .main__articles {
      max-width: 100%; }
    .main__aside {
      display: none; } }

@media (max-width: 500px) {
  .main__title {
    font-size: 20px;
    padding: 20px 10px 20px; } }

@media (max-width: 320px) {
  .main__title {
    padding-top: 22px;
    padding-bottom: 22px; } }

.today-articles__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 23px; }

.today-articles__text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding: 25px 0px; }

.today-articles__text-bold {
  font-family: inherit;
  font-weight: 700; }

.article__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 492px;
  padding: 82px 21px 30px 20px;
  color: #ffffff; }

.article__title {
  font-family: "Brutal Type";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  background: #faaf3f;
  border-radius: 3px;
  padding: 1px 0px;
  max-width: 118px; }

.article__subtitle {
  font-family: "Brutal Type";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.02em; }

.article__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.article__meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.article__author {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 15px; }

.article__date {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 10px;
  padding-left: 4px; }

.article--wide {
  background: url(../img/main_left_big.svg) no-repeat center;
  width: 100%; }
  .article--wide .article__title {
    margin: 67px 0px 0px 0px; }
  .article--wide .article__subtitle {
    max-width: 620px; }
  .article--wide .article__extra-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6px; }

.article--middle {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: url(../img/main_left_middle.svg) no-repeat center; }
  .article--middle .article__title {
    margin: 0px 0px 25px 0px; }
  .article--middle .article__text {
    padding: 41px 10px 24px 0px; }

.article--narrow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../img/main_left_small.svg) no-repeat center; }
  .article--narrow .article__title {
    margin: 0px 0px 45px 0px; }
  .article--narrow .article__subtitle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .article--narrow .article__extra-info {
    padding-top: 150px; }

.article--wide,
.article--middle,
.article--narrow {
  background-size: cover; }

@media (max-width: 1100px) {
  .today-articles__container {
    gap: 22px; }
  .today-articles__text {
    padding-top: 29px;
    padding-bottom: 25px; }
  .article__link {
    padding-top: 87px; }
  .article--wide .article__title {
    margin-top: 63px; }
  .article--middle .article__text {
    display: none; }
  .article--middle .article__subtitle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .article--narrow .article__subtitle {
    max-width: 220px; }
  .article--middle,
  .article--narrow {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .article--middle .article__title,
    .article--narrow .article__title {
      margin-bottom: 42px; } }

@media (max-width: 1020px) {
  .today-articles__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px; }
  .today-articles__text {
    padding: 26px 0px 5px 15px; }
  .article__link {
    height: 386px;
    padding-bottom: 15px;
    padding-top: 72px; }
  .article__subtitle {
    min-height: 82px; }
  .article .article__extra-info {
    padding-top: 115px;
    padding-left: 10px; }
  .article--wide .article__title {
    margin-top: 0;
    margin-bottom: 22px; }
  .article--wide .article__extra-info {
    display: block; }
  .article--wide .article__text {
    display: none; }
  .article--middle {
    background: url(../img/middle_mobil_950.svg) no-repeat center;
    max-width: none; }
    .article--middle .article__subtitle {
      max-width: 500px; }
  .article--narrow {
    background: url(../img/narrow_mobil_950.svg) no-repeat center; }
    .article--narrow .article__subtitle {
      max-width: none; }
  .article--middle,
  .article--narrow {
    background-size: cover;
    width: 100%; }
    .article--middle .article__title,
    .article--narrow .article__title {
      margin-bottom: 26px; } }

@media (max-width: 500px) {
  .today-articles__text {
    padding-top: 31px; }
  .article__link {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-top: 118px;
    padding-left: 15px;
    padding-right: 3px; }
  .article__subtitle {
    font-size: 20px; }
  .article .article__extra-info {
    padding-top: 60px;
    padding-left: 0; } }

@media (max-width: 320px) {
  .today-articles__text {
    padding-top: 27px; }
  .article__link {
    padding-top: 114px;
    padding-bottom: 24px; }
  .article__subtitle {
    line-height: 28px; }
  .article--wide .article__extra-info {
    padding-top: 112px; } }

.aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px; }
  .aside__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px; }
  .aside__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .aside__title {
    font-family: "Brutal Type";
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #333333;
    width: 92px;
    height: 24px;
    padding-top: 2px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px; }
  .aside__link {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 14px;
    color: #0776d2; }
  .aside__tests {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.series {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px; }
  .series__title {
    font-family: "Brutal Type";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; }
  .series__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
    position: relative;
    padding-left: 10px;
    border-left: 1px solid #828282; }
    .series__list::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -1px;
      width: 1px;
      height: 9px;
      background: #828282;
      background: -o-linear-gradient(269.72deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%), -o-linear-gradient(269.72deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%);
      background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%), linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%);
      -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          -ms-transform: matrix(1, 0, 0, -1, 0, 0);
              transform: matrix(1, 0, 0, -1, 0, 0); }
    .series__list::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: -1px;
      width: 1px;
      height: 53px;
      background: -o-linear-gradient(269.72deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 74.8%);
      background: linear-gradient(180.28deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 74.8%); }
  .series__link {
    position: relative; }
  .series__link span::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #828282; }

.tests {
  background: url(../img/tests_right.svg) no-repeat center;
  width: 215px;
  height: 238px;
  padding: 64px 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tests__title {
    font-family: "Brutal Type";
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #ffffff; }

.orange-link {
  font-family: "Brutal Type";
  font-weight: 500;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 214px;
  background: #faaf3f;
  text-align: center;
  padding: 5px;
  color: #ffffff;
  border-radius: 2px; }

.video {
  background: url(../img/video_right2.png) no-repeat center, url(../img/video_right.png) no-repeat center;
  width: 214px;
  height: 146px; }
  .video__title {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 15px;
    color: #000000; }

.nvidia__data {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 21px; }

.nvidia__time {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }

.nvidia__text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 21px; }

.best-articles__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.best-articles__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.best-articles__item {
  padding-right: 46px; }

.best-articles__best-button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: inherit;
  padding-left: 0;
  padding-bottom: 4px;
  border: none; }
  .best-articles__best-button:focus {
    border-bottom: 2px solid #f7ab32; }

.best-articles__button-mobil {
  display: none; }

.best-articles__articles-best {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px; }

.best-article {
  width: 250px;
  height: 177px; }
  .best-article:nth-child(1) {
    background: url(../img/main_left_bottom1.svg) no-repeat center; }
  .best-article:nth-child(2) {
    background: url(../img/main_left_bottom2.svg) no-repeat center; }
  .best-article:nth-child(3) {
    background: url(../img/best_third.svg) no-repeat center; }
  .best-article:nth-child(4) {
    background: url(../img/main_left_bottom1.svg) no-repeat center; }
  .best-article__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: -webkit-fill-available;
    padding: 18px 30px 14px 20px; }
  .best-article__title {
    font-family: "Brutal Type";
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff; }

@media (max-width: 1100px) {
  .best-article {
    min-width: 250px; } }

@media (max-width: 1020px) {
  .best-articles__slider {
    padding-left: 13px;
    padding-top: 22px; }
  .best-articles__articles-best {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .best-article {
    min-width: none; } }

@media (max-width: 500px) {
  .best-articles__button {
    display: none; }
  .best-articles__button-mobil {
    display: block; }
  .best-articles__item {
    padding-right: 25px; }
  .best-articles__wrapper {
    margin-bottom: 21px; }
  .article__title {
    width: 102px; } }

.hover-link {
  position: relative; }
  .hover-link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/article_left_app.svg) no-repeat, url(../img/article_left_bottom.svg) no-repeat, url(../img/article_right_app.svg) no-repeat, url(../img/article_right_bottom.svg) no-repeat;
    background-position: 1% 2%, 1% 98%, 99% 2%, 99% 98%;
    background-size: 20px;
    opacity: 0; }
  .hover-link:hover::before {
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }
  .hover-link:not(:hover)::before {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }

@media (max-width: 1100px) {
  .hover-link::before {
    display: none; } }

.slider__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  width: 50px; }

.slider__button {
  width: 17px;
  border: none; }

.slider__button-prev {
  background: url(../img/toggle_left.svg) no-repeat center; }

.slider__button-next {
  background: url(../img/toggle_right.svg) no-repeat center; }

.slider__list {
  overflow: hidden; }

@media (max-width: 1100px) {
  .slider__buttons {
    display: none; } }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 5px; }
  .socials__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    color: #ffffff; }
    .socials__item:nth-child(1) {
      background: url(../img/eye.svg) no-repeat 0% 50%; }
    .socials__item:nth-child(2) {
      background: url(../img/dog.svg) no-repeat 0% 50%; }
    .socials__item:nth-child(3) {
      background: url(../img/message.svg) no-repeat 0% 50%; }
    .socials__item:nth-child(4) {
      background: url(../img/link.svg) no-repeat 0% 50%; }
  .socials__icon {
    width: 14px;
    height: 22px; }
  .socials__views {
    font-family: "PT Sans Caption";
    font-weight: 400;
    font-size: 10px; }

@media (max-width: 650px) {
  .article__socials {
    padding-top: 10px; } }
